<div class="oj-flex oj-sm-flex-direction-column">
  <h2 class="oj-typography-heading-md">Bank accounts</h2>

  <oj-bind-if test="[[state.isLoading()]]">
    <div class="oj-sm-margin-4x"><oj-progress-circle size="md"></oj-progress-circle></div>
  </oj-bind-if>

  <oj-bind-if test="[[state.errorMessage()]]">
    <div role="alert" class="oj-sm-margin-2x-vertical oj-typography-body-md oj-text-color-danger">
      <oj-bind-text value="[[state.errorMessage]]"></oj-bind-text>
    </div>
  </oj-bind-if>

  <oj-bind-if test="[[state.successMessage()]]">
    <div role="status" class="oj-sm-margin-2x-vertical oj-typography-body-md oj-text-color-success">
      <oj-bind-text value="[[state.successMessage]]"></oj-bind-text>
    </div>
  </oj-bind-if>

  <oj-bind-if test="[[isEmpty()]]">
    <p class="oj-typography-body-md oj-text-color-secondary">
      No bank accounts on file. Your manager can add one for you.
    </p>
  </oj-bind-if>

  <oj-bind-if test="[[hasAccounts()]]">
    <oj-bind-for-each data="[[accounts]]">
      <template>
        <div class="oj-panel oj-sm-margin-1x-vertical">
          <div class="oj-flex oj-sm-align-items-center">
            <div class="oj-flex-item">
              <div class="oj-typography-body-md">
                <strong><oj-bind-text value="[[$current.data.bankName]]"></oj-bind-text></strong>
                &nbsp;<oj-bind-text value="[[$current.data.maskedAccountNumber]]"></oj-bind-text>
              </div>
              <div class="oj-typography-body-sm oj-text-color-secondary">
                <oj-bind-text value="[[$current.data.accountType]]"></oj-bind-text>
                <oj-bind-if test="[[$current.data.branchName]]">
                  &middot; <oj-bind-text value="[[$current.data.branchName]]"></oj-bind-text>
                </oj-bind-if>
                &middot;
                <span :class="[[$parent.format.statusClass($current.data.status)]]">
                  <oj-bind-text value="[[$current.data.status]]"></oj-bind-text>
                </span>
                <oj-bind-if test="[[$current.data.primaryAccount]]">
                  &middot; <strong>Primary</strong>
                </oj-bind-if>
              </div>
            </div>

            <div class="oj-typography-heading-sm oj-sm-margin-2x-end">
              <oj-bind-text value="[[$parent.format.money($current.data.balance)]]"></oj-bind-text>
            </div>

            <oj-bind-if test="[[!$current.data.primaryAccount && $current.data.status === 'ACTIVE']]">
              <oj-button on-oj-action="[[function () { $parent.makePrimary($current.data); }]]"
                         disabled="[[$parent.busyAccountId() === $current.data.bankAccountId]]">
                Make primary
              </oj-button>
            </oj-bind-if>
          </div>
        </div>
      </template>
    </oj-bind-for-each>
  </oj-bind-if>
</div>
