<div class="oj-flex oj-sm-justify-content-center">
  <div class="oj-panel oj-sm-margin-4x oj-lg-6 oj-sm-12">
    <h2 class="oj-typography-heading-md">Sign in to WealthTrack</h2>

    <oj-bind-if test="[[errorMessage()]]">
      <div role="alert" class="oj-sm-margin-2x-vertical oj-typography-body-md oj-text-color-danger">
        <oj-bind-text value="[[errorMessage]]"></oj-bind-text>
      </div>
    </oj-bind-if>

    <oj-form-layout max-columns="1" direction="column">
      <oj-input-text id="email"
                     label-hint="Email"
                     value="{{email}}"
                     autocomplete="username">
      </oj-input-text>

      <oj-input-password id="password"
                         label-hint="Password"
                         value="{{password}}"
                         autocomplete="current-password">
      </oj-input-password>
    </oj-form-layout>

    <div class="oj-flex oj-sm-justify-content-flex-end oj-sm-margin-2x-vertical">
      <oj-button id="signIn"
                 chroming="callToAction"
                 disabled="[[!canSubmit()]]"
                 on-oj-action="[[submit]]">
        <oj-bind-text value="[[isSubmitting() ? 'Signing in...' : 'Sign in']]"></oj-bind-text>
      </oj-button>
    </div>
  </div>
</div>
