BANK_SERVER_PORT=8083
BANK_APPLICATION_NAME=BANK-SERVICE
BANK_DB_URL=jdbc:mysql://localhost:3306/mydb
BANK_DB_DRIVER=com.mysql.cj.jdbc.Driver
BANK_DB_USERNAME=root
BANK_DB_PASSWORD=replace_with_your_mysql_password
BANK_JPA_DDL_AUTO=update
BANK_JPA_SHOW_SQL=true
BANK_EUREKA_REGISTER=true
BANK_EUREKA_FETCH_REGISTRY=true
BANK_EUREKA_URL=http://localhost:8080/eureka/
BANK_EUREKA_HOSTNAME=localhost
BANK_FEIGN_CONNECT_TIMEOUT_MS=3000
BANK_FEIGN_READ_TIMEOUT_MS=10000
