USER_SERVER_PORT=8082
USER_APPLICATION_NAME=USER-SERVICE
USER_DB_URL=jdbc:mysql://localhost:3306/mydb
USER_DB_DRIVER=com.mysql.cj.jdbc.Driver
USER_DB_USERNAME=root
USER_DB_PASSWORD=replace_with_your_mysql_password
USER_JPA_DDL_AUTO=update
USER_JPA_SHOW_SQL=true
USER_EUREKA_REGISTER=true
USER_EUREKA_FETCH_REGISTRY=true
USER_EUREKA_FETCH_INTERVAL_SECONDS=5
USER_EUREKA_URL=http://localhost:8080/eureka/
USER_EUREKA_HOSTNAME=localhost
