PORTFOLIO_SERVER_PORT=8084
PORTFOLIO_APPLICATION_NAME=PORTFOLIO-SERVICE
PORTFOLIO_DB_URL=jdbc:mysql://localhost:3306/mydb
PORTFOLIO_DB_DRIVER=com.mysql.cj.jdbc.Driver
PORTFOLIO_DB_USERNAME=root
PORTFOLIO_DB_PASSWORD=replace_with_your_mysql_password
PORTFOLIO_JPA_DDL_AUTO=update
PORTFOLIO_JPA_SHOW_SQL=true
PORTFOLIO_EUREKA_REGISTER=true
PORTFOLIO_EUREKA_FETCH_REGISTRY=true
PORTFOLIO_EUREKA_URL=http://localhost:8080/eureka/
PORTFOLIO_EUREKA_HOSTNAME=localhost
