TRADING_SERVER_PORT=8085
TRADING_APPLICATION_NAME=TRADING-SERVICE
TRADING_DB_URL=jdbc:mysql://localhost:3306/mydb
TRADING_DB_DRIVER=com.mysql.cj.jdbc.Driver
TRADING_DB_USERNAME=root
TRADING_DB_PASSWORD=replace_with_your_mysql_password
TRADING_JPA_DDL_AUTO=update
TRADING_JPA_SHOW_SQL=true
TRADING_EUREKA_REGISTER=true
TRADING_EUREKA_FETCH_REGISTRY=true
TRADING_EUREKA_URL=http://localhost:8080/eureka/
TRADING_EUREKA_HOSTNAME=localhost
